                                    /*Header*/

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}
nav {
  /*display: block;*/
  text-align: right;
  flex-grow: 1;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: seashell;
  text-decoration: underline;
}
header img {
  height: 50px;
  padding-left: 10px;
}
.flex-container {
  display: flex;
  justify-content: center;
  /*flex-wrap: wrap;*/
}
                                  /*Main Content*/
body {
  display: block;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
}
